server {
  listen 80;
  server_name decisions.dcentproject.eu;
  return 301 {{ site_address }}$request_uri;
}


server {
  listen 443 ssl;
  server_name decisions.dcentproject.eu;

  ssl_certificate /etc/nginx/ssl/decisions.crt;
  ssl_certificate_key /etc/nginx/ssl/decisions.key;

  ssl_session_cache shared:SSL:32m;
  ssl_session_timeout 10m;

  ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

  location / {
    proxy_pass http://localhost:5000;
  }
}
