body {
  @include font-smoothing(on);
  color: $default_text_color;
  font-family: $para_font_family;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  background: $background_color;
  @include width-from($medium_device) {

  }
  *, & {
    box-sizing: border-box;
  }
}
.body--white {
  background: $white;
  color: $default_text_color_dark;
}

.middle-container {
  max-width: $large_device;
  padding: 0 1rem;
  margin: 0 auto 3rem auto;
}
