.decision {
  margin-bottom: $default_margin;
  &__data {
    position: relative;
    background-color: $white;
    padding: 32px 32px 50px 32px;
    color: $text_grey;
    //@include trapezium(15px, 20px, $black);
  }
}