.error-help {

}
.error-help__box {
  position: relative;
  min-height: 185px;
  margin-bottom: $default_margin;
  color: $dark_green;
  background-color: $white;
  border: 1px solid rgba($white,0.3);
  border-radius: 10px;
  >:last-of-type {
    margin-bottom: 0;
  }
}
.error-help__lede {
  @include font-size(22);
}
.error-help__icon {
  display: block;
  margin-bottom: 10px;
  font-size: 50px;
}