.interested-in {
  margin-bottom: 16px;
  @include width-from($medium_device) {
    margin-bottom: 32px;
  }
  &--middle {
    @include width-from($medium_device) {
      width: $medium_device;
      @include middle-me;
    }
  }
  &__lede {
    color: rgba($white,0.7);
    line-height: 1.2;
    margin-bottom: 8px;
  }
}
.interested-in-search {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  color: $default_text_color;
  @include font-size(30);
  @include width-from($medium_device) {
    @include font-size(40);
    display: flex;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    padding-right: 0.8rem;
    line-height: 1.2;
    color: $default_text_color;
    @include width-from($medium_device) {
      white-space: nowrap;
    }
  }
  &__input-container {
    display: block;
    @include width-from($medium_device) {
      flex: 1;
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    padding: 0 0 1rem 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba($default_text_color,0.5);
    outline: none;
    font-weight: 700;
    color: $default_text_color;
    transition: border 250ms ease;
    @include width-from($medium_device) {
      height: 70px;
    }
    &:focus {
      border-bottom-color: $default_text_color;
    }
    &::placeholder {
      color: rgba($default_text_color,0.5);
      font-weight: 400;
      &:before {
        color: rgba($default_text_color,1);
        display: inline-block;
        margin-left: 0.35rem;
        margin-right: 0.85rem;
        font-family: FontAwesome;
        content: '\f002';
      }
    }
  }
  &__actions {
    .js & {
      display: none;
    }
  }
}
