$signin_input_height: 45px;

.sign-in-form {
  max-width: $medium_device;
  margin: 0 auto;
  padding: 3rem 2rem 4rem;
  background: $white;
  border-radius: 4px;
  color: $default_text_color_dark;
  &__input_wrapper {
    position: relative;
    height: $signin_input_height;
    line-height: 1;
    margin-bottom: 1rem;
    @include width-from($medium_device) {
      margin-bottom: 0;
    }
  }
  &__intro-text {
    display: block;
    @include font-size(18);
    margin-top: 0;
    margin-bottom: 1rem;
  }
  &__label {
    $label_width: $signin_input_height+1;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 0;
    @include size($label_width, $signin_input_height - 2);
    line-height: $signin_input_height;
    padding: 0.1rem 0.75rem;
    transition: color 250ms ease;
    color: rgba($black,0.5);
    text-align: center;
    border-right: 1px solid $border_colors;
    i {
      height: $signin_input_height;
      line-height: $signin_input_height - 8;
      vertical-align: middle;
    }
  }
  &__input {
    position: relative;
    width: 100%;
    height: $signin_input_height;
    border: 1px solid $border_colors;
    border-radius: 3px;
    padding: 0 0.5rem 0.2rem 3.5rem;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $super_light_green inset;
    }
    &:valid {
      border-color: $green;
      + label {
        color: $green;
        border-color: $green;
      }
      &:focus + label {
        border-color: $dark_border_colors;
      }
    }
    &:focus {
      outline: 0;
      border-color: $dark_border_colors;
      + label {
        color: $pink;
        border-color: $dark_border_colors;
      }
    }
  }
  &__button {
    display: block;
    width: 100%;
    height: $signin_input_height;
    line-height: 1;
    padding: 0.65rem 1rem;
    background: $dark_green;
    @include font-size(18);
    color: $white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    transition: background 250ms ease;
    &:focus {
      outline: none;
      background-color: $light_green;
      box-shadow: 0 3px 0 0 $super_dark_green;
    }
    &__icon {
      margin-right: 0.25rem;
    }
  }
}
