.social-networks {
  margin-bottom: $default_margin;
  border-top: 2px solid $white;
  padding-top: 8px;
  &__list {
    @include clearfix;
    margin-left: 0;
    margin-right: 0;
  }
  &__item {
    display: block;
    margin-right: 8px;
    list-style: none;
    text-align: center;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    @include width-from($medium_device) {
      float: left;
    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 60px;
    padding: 15px;
    background-color: transparent;
    color: $white;
    text-align: center;
    text-decoration: none;
    transition: color 250ms ease, background 250ms ease;
    @include width-from($medium_device) {
      display: inline-block;
      width: 60px;
    }
    &:hover {
      text-decoration: none;
      background-color: $white;
      color: $dark_green;
    }
    &--hackpad {
      line-height: 1;
      margin-bottom: 0;
      padding: 0 15px;
      background-color: $white;
      color: $dark_green;
      text-transform: uppercase;
      font-weight: bold;
      border: 5px solid transparent;
      transition: color 250ms ease, border-color 250ms ease;
      outline: 0;
      @include width-from($medium_device) {
        width: auto;
      }
      &:hover {
        background-color: $white;
        text-decoration: none;
        color: $black;
      }
    }
  }
  &__icon {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 8px;
  }
  &__title {
    @include font-size(14);
    @include width-from($medium_device) {
      @include font-size(18);
    }
  }
}

.hackpad {
  margin-bottom: 2rem;
}