
.subscribe-to-topic {
  $label_width: $input_height+1;
  min-height: 185px;
  padding: 1.5rem;
  margin-bottom: 16px;
  background: $white;
  border-radius: 4px;
  color: $default_text_color_dark;
  @include width-from($medium_device) {
    padding: 2rem;
    margin-bottom: 32px;
  }
  &__input_wrapper {
    position: relative;
    height: $input_height;
    line-height: 1;
    margin-bottom: 16px;
    @include width-from($medium_device) {
      margin-bottom: 0;
    }
  }
  &__intro-text {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 1.3;
    @include font-size(16);
  }
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    @include size($label_width, $input_height);
    line-height: $input_height;
    padding: 0.1rem 0.75rem;
    transition: color 250ms ease;
    color: rgba($black,0.5);
    text-align: center;
    border-right: 1px solid $border_colors;
    i {
      height: $input_height;
      line-height: $input_height - 7;
      vertical-align: middle;
    }
  }
  &__input {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    height: $input_height;
    border: 1px solid $border_colors;
    border-radius: 3px;
    padding: 0 0.5rem 0.1rem #{$label_width + 10};
    box-shadow: none;
    &:-webkit-autofill {
      -webkit-text-fill-color: $default_text_color_dark;
      -webkit-box-shadow: 0 0 0px 1000px $super_light_green inset;
    }
    &:valid {
      border-color: $green;
      + label {
        color: $green;
        border-color: $green;
      }
      &:focus + label {
        border-color: $dark_border_colors;
      }
    }
    &:focus {
      outline: 0;
      border-color: $dark_border_colors;
      + label {
        color: $pink;
        border-color: $dark_border_colors;
      }
    }
  }
  &__button {
  }
}

.search-term {
  //color: $dark_green;
  text-decoration: underline;
}

