$subscript_input_height: 45px;

.subscribe-to-topic {
  padding: 2rem 2rem 3rem 2rem;
  margin-bottom: 2rem;
  background: $white;
  border-radius: 4px;
  color: $default_text_color_dark;
  &__input_wrapper {
    position: relative;
    height: $subscript_input_height;
    line-height: 1;
    margin-bottom: 1rem;
    @include width-from($medium_device) {
      margin-bottom: 0;
    }
  }
  &__intro-text {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  &__label {
    $label_width: $subscript_input_height+1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    @include size($label_width, $subscript_input_height);
    line-height: $subscript_input_height;
    padding: 0.1rem 0.75rem;
    transition: color 250ms ease;
    color: rgba($black,0.5);
    text-align: center;
    border-right: 1px solid $border_colors;
    i {
      height: $subscript_input_height;
      line-height: $subscript_input_height - 6;
    }
  }
  &__input {
    position: relative;
    width: 100%;
    height: $subscript_input_height;
    border: 1px solid $border_colors;
    border-radius: 3px;
    padding: 0 0.5rem 0.2rem 3.5rem;
    &:valid + label {
      color: $green;
    }
    &:focus {
      outline: 0;
      + label {
        color: $pink;
      }
    }
  }
  &__button {
    display: block;
    width: 100%;
    height: $subscript_input_height;
    line-height: 1;
    padding: 0.65rem 1rem;
    background: $dark_green;
    @include font-size(18);
    color: $white;
    font-weight: 700;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    &__icon {
      margin-right: 0.25rem;
    }
  }
}

.search-term {
  //color: $dark_green;
  text-decoration: underline;
}

