extends layout/layout

block title
  | Your profile

block content

  .middle-container
    h1.page-heading Chris Cheshire
    h2 Interests
    ul.interest-items
      li.interest-item: a.interest-item__link(href="/search?q=Helsinki")
        i.fa.fa-building.interest-item__link__icon
        = " "
        span.interest-item__text
        | Helsinki
      li.interest-item: a.interest-item__link(href="/search?q=Cycle%20Lanes")
        i.fa.fa-bicycle.interest-item__link__icon
        = " "
        span.interest-item__text
        | Cycle lanes
      li.interest-item: a.interest-item__link(href="/search?q=Cycle%20Lanes")
        i.fa.fa-tree.interest-item__link__icon
        = " "
        span.interest-item__text
        | Tree planting
      li.interest-item: a.interest-item__link(href="/search?q=Cycle%20Lanes")
        i.fa.fa-road.interest-item__link__icon
        = " "
        span.interest-item__text
        | Roadworks

    .interest-items
      .interest-item.interest-item--fullwidth: a.interest-item__link(href="/search?q=Cycle%20Lanes")
        i.fa.fa-plus.interest-item__link__icon
        = " "
        span.interest-item__text
        | Add more
