extends layout/layout

block title
  | Your profile

block content

  .middle-container
    h1.page-heading Chris Cheshire
    h2 Interests
    ul.icon-list
      li.icon-list-item: a.icon-list-item__link(href="/search?q=Helsinki")
        i.fa.fa-building.icon-list-item__icon
        = " "
        span.icon-list-item__text
        | Helsinki
      li.icon-list-item: a.icon-list-item__link(href="/search?q=Cycle%20Lanes")
        i.fa.fa-bicycle.icon-list-item__icon
        = " "
        span.icon-list-item__text
        | Cycle lanes
      li.icon-list-item: a.icon-list-item__link(href="/search?q=Cycle%20Lanes")
        i.fa.fa-tree.icon-list-item__icon
        = " "
        span.icon-list-item__text
        | Tree planting
      li.icon-list-item: a.icon-list-item__link(href="/search?q=Cycle%20Lanes")
        i.fa.fa-road.icon-list-item__icon
        = " "
        span.icon-list-item__text
        | Roadworks

    .icon-list
      .icon-list-item.icon-list-item--fullwidth: a.icon-list-item__link(href="/search?q=Cycle%20Lanes")
        i.fa.fa-plus.icon-list-item__icon
        = " "
        span.icon-list-item__text
        | Add more
