extends layout/layout

//block vars
//  - bodyClass = ""

block title
  | {{error_title}}

block headerScripts

block content

  .middle-container
    .error-help
      h1.page-heading
        | {{error_title}}
        = " "
        i.fa.fa-frown-o
      p.error-help__lede
        | {{error_description}}
