extends layout/layout

//block vars
//  - bodyClass = ""

block title
  | Interested in... {{t('index.interested_in')}}

block content

  .middle-container
    - var focusOnLoad = true

    form.interested-in.interested-in--middle(action="/search", method="get", autocomplete="off")
      p.interested-in__lede {{t('index.search_decisions')}}
      p.interested-in-search
        label.interested-in-search__label(for="interested-in")
          | {{t('index.im_interested_in')}}
        span.interested-in-search__input-container
          input.interested-in-search__input(type="text", id="interested-in", name="q", autofocus=true, value=searchTerm)
      .interested-in-search__actions
        button(type="submit", value="{{t('common.find')}}")
