p
h1 {{decision_title}}
p
p Tämä on yhteiskirjoitusalusta liittyen tähän päätökseen:
  = " "
  a(href='{{decision_link}}') {{decision_link}}

p

p Käytä tätä alustaa linkittääksesi aihetta koskeviin uutisiin, facebook-sivuihin ja muihin paikkoihin. Täällä voi
  | kuka tahana osallistua aiheesta käytävään keskusteluun, yhteiskirjoittaa esimerkiksi viestiä päättäjille tai medialle,
  | tai sopia muita keinoja vaikuttaa asiaan. Voit kutsua osallistujia tähän alustaan sivun oikean laidasta.
