extends layout/layout

//block vars
//  - bodyClass = ""

block title
  | Check your email

block headerScripts

block content

  .middle-container
    .subscribed
      h1 You've successfully subscribed
      .subscribed__message
        p
          i.fa.fa-envelope-o.subscribed__icon
          = " "
          | Shortly you'll receive a confirmation of your subscription.

