extends layout/layout

//block vars
//  - bodyClass = ""

block title
  | Check your email

block headerScripts

block content

  .middle-container
    .subscribed
      h1 You've successfully subscribed
      .subscribed__message
        p.subscribed__lede
          i.fa.fa-envelope-o.subscribed__icon
          = " "
          | A confirmation of your subscription has been sent to your mailbox.

    .interest-items
      .interest-item.interest-item--fullwidth: a.interest-item__link(href="/")
        i.fa.fa-search.interest-item__link__icon
        = " "
        span.interest-item__text
        | Find more decisions
