extends layout/layout

//block vars
//  - bodyClass = ""

block title
  | Unsubscribe

block headerScripts

block content

  .middle-container
    .unsubscribed
      h1 Unsubscribed from the term "#{topic}"
      .unsubscribed__message
        p.unsubscribed__lede
          i.fa.fa-check.unsubscribed__icon
          = " "
          | You will no longer receive emails about "#{topic}".
