extends layout/layout

//block vars
//  - bodyClass = ""

block title
  | {{t('unsubscribed.title')}}

block headerScripts

block content

  .middle-container
    .unsubscribed
      h1 {{t('unsubscribed.from_term')}} "#{topic}"
      .unsubscribed__message
        p.unsubscribed__lede
          i.fa.fa-check.unsubscribed__icon
          = " "
          | {{t('unsubscribed.success')}} "#{topic}".
