extends layout/layout

//block vars
//  - bodyClass = ""

block title
  | Signing in...

block header

block headerScripts
  meta(http-equiv="refresh" content="3;URL=/profile")

block content

  .loading
    .loading__text
      .loading__text__icon
      p Loading...