- var bodyClass = ""
- var htmlClass = ""
- var signedIn = signedIn

block vars

doctype
html.no-js(lang="en", class="#{htmlClass}")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
      block title
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="format-detection", content="telephone=no")
    link(rel="icon", type="image/png", href="favicon.png")
    block headerMeta

    link(href="/static/css/application.css", media="screen", rel="stylesheet", type="text/css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,400', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    script(src="/static/javascript/vendor/modernizr.min.js")

    block headerScripts

  body(class="#{bodyClass}")
    .wrapper
      block header
        header.layout-header
          .column.one-half
            a.layout-header__logo(href="/")
              i.fa.fa-building-o
              i.fa.fa-tree
              i.fa.fa-bicycle
          .sign
            if signedIn
              .sign__out
                a.button.button--space(href="#")
                  i.fa.fa-user.button__icon
                  | Profile
                a.button(href="/")
                  i.fa.fa-sign-out.button__icon
                  | Sign out
            else
              .sign__in
                a.button(href="/sign-in")
                  i.fa.fa-sign-in.button__icon
                  | Sign in

      block content
    block footerScripts
